.viewdesk{
	display: block !important;
}
.viewmobile{
	display: none !important;
}

@media screen and (max-width:800px) {
	.viewdesk{
	    display: none !important;
	}
	.viewmobile{
	    display: block !important;
	}
	.conternav1{
		display: none;
	}
	.conternav2{
		min-width: 100vw;
	}
	.interconternav2{
		min-width: 100%;
	}
	#ulmenu{
		padding-left: 0px;
	}
	.conterintrosec{
		left: auto;
		margin-left: 0;
	}
	.conter50{
		width: 100%;
	}
	.conterlogro1, .conterlogro2, .conterlogro3, .conterlogro4, .conterlogro5{
		width: 100%;
		padding-bottom: 20px;
	}
	.conterflex{
		display: block;
	}
	.conter40{
		width: 100%;
	}
	.conter60{
		width: 100%;
	}
	.texto-vertical {
	  writing-mode: horizontal-tb;
	  transform: rotate(0deg);
	  margin: 20px 0px;
	}
	.imglogros {
	  width: 85%;
	  float: inherit;
	  padding-left: inherit;
	  margin: 0 auto;
	  display: block;
	  margin-bottom: 20px;
	}
	.conter33{
		width: 100%;
	}
	.bor1 {
	  border-right: 0px solid #52bbec;
	  border-bottom: 1px solid #52bbec;
	}
	.bor2 {
	  border-right: 0px solid #52bbec;
	  border-bottom: 1px solid #52bbec;
	}
	.bor4 {
	  border-right: 0px solid #52bbec;
	}
	.perfil4{
		padding: 50px 0px;
	}
	.conter90right{
		float: left;
	}
	.bor1a {
	  border-right: 0px solid #e1e1e1;
	  border-bottom: 1px solid #e1e1e1;
	}
	.bor2a {
	  border-right: 0px solid #e1e1e1;
	}
	.conter60center, .conter50center{
		width: 100%;
	}
	.img80left {
	  width: 100%;
	  display: block;
	}
	.conter10{
		width: 100%;
		padding-bottom: 20px;
	}
	.conter14{
		width: 100%;
	}
	.conter20, .conter25{
		width: 100%;
	}
	.conter12{
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	.padmovil{
		padding-top: 30px !important;
	}
	.padmovil2{
		padding-top: 50px ;
	}
	.padmovil3{
		margin-top: 50px;
	}
	.pres1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg1-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.perfil1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg2-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.estra1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg4-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.gob1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg5-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.cadena1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg6-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.fina1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg7-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.contri1 {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg8-movil.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.contertituloper{
	  display: block;
	  position: relative;
	}
	.backazul {
	  width: 100vw;
	  height: auto;
	  padding: 20px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/76.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.backmar {
	  width: 100vw;
	  height: auto;
	  padding: 20px 0px;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/113.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  align-content: center;
	  background-position-y: center;
	}
	.conter95righta{
	  width: 85%;
	  display: block;
	  float: right;
	}
	.conter5a{
	  display: block;
	  width: 15%;
	  float: left;
	}
	table {
       display: block;
       overflow-x: auto;
     }
}


























