*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: BentonSansBBVA-Bold;
  src: url('../fonts/BentonSansBBVA-Bold.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Book;
  src: url('../fonts/BentonSansBBVA-Book.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Light;
  src: url('../fonts/BentonSansBBVA-Light.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Medium;
  src: url('../fonts/BentonSansBBVA-Medium.otf') format("opentype");
}
ol{
  font-family: BentonSansBBVA-Light;
}
/* --- menu 
.nav{
  width: auto;
  min-width:  100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: absolute;
  background-color: #333333;
  z-index: 9;
  left: -100%;
  transition: all .5s;
}
.eddd{
  left: 0%;
}
.activemenu{
  left: 0;
}
.conternav1{
  display: block;
  overflow: hidden;
  width: auto;
  min-width:  50vw;
  height: auto;
  min-height: 100vh;
  float: left;
}
.interconternav1{
  display: block;
  overflow: hidden;
  width: auto;
  min-width:  50vw;
  height: auto;
  min-height: 100vh;
  background-color: #f00;
  float: left;
}
.conternav2{
  display: block;
  overflow: hidden;
  width: auto;
  min-width: 50vw;
  height: auto;
  min-height: 100vh;
  float: left;
  align-content: center;
  align-items: center;
}
.interconternav2{
  display: flex;
  overflow: hidden;
  width: auto;
  min-width: 50vw;
  height: auto;
  min-height: 100vh;
  background-color: #043278;
  float: left;
  align-content: center;
  align-items: center;
}
.nummenu{
  font-family: BentonSansBBVA-Medium;
  font-size: 45px;
  margin-right: 10px;
}
#ulmenu{
  list-style: none;
}
.textmenu{
  font-family: BentonSansBBVA-Medium;
  font-size: 15px;
  color: #ffffff;
}

--- */

.conternav1{
  display: block;
  overflow: hidden;
  width: auto;
  min-width:  50vw;
  height: auto;
  min-height: 100vh;
  float: left;
}
.interconternav1{
  display: block;
  overflow: hidden;
  width: auto;
  min-width:  50vw;
  height: auto;
  min-height: 100vh;
  background-color: #043278;
  float: left;
}
.conternav2{
  display: block;
  overflow: hidden;
  width: auto;
  min-width: 50vw;
  height: auto;
  min-height: 100vh;
  float: left;
  align-content: center;
  align-items: center;
  z-index: 9;
  position: absolute;
  right: 0;
}
.interconternav2{
  display: flex;
  overflow: hidden;
  width: auto;
  min-width: 50vw;
  height: auto;
  min-height: 100vh;
  background-color: #043278;
  float: left;
  align-content: center;
  align-items: center;
}
.nummenu{
  font-family: BentonSansBBVA-Medium;
  font-size: 45px;
  margin-right: 10px;
  transition: all .5s;
}
p.textmenu:hover .nummenu{
  color: #52bbec !important;
}
#ulmenu{
  list-style: none;
}
.textmenu{
  font-family: BentonSansBBVA-Book;
  font-size: 15px;
  color: #ffffff;
}
aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 99;
}


.open {
  opacity: 1;
  visibility: visible;
}
.svg{
  width: 100%;
  display: block;
}
button {
  padding: 10px;
  border: 2px solid #2ecccc;
  color: white;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 10;
  width: 50px;
  background-color: #043278;
  top: 3vh;
  right: 1.5vw;
  z-index: 99999;
}
button:hover{
  cursor: pointer;
}


.close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
.close span,
.close span:before,
.close span:after {
  border-radius: 4px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: "";
}
.close span {
  background: transparent;
}
.close span:before {
  transform: rotate(45deg);
}
.close span:after {
  transform: rotate(-45deg);
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 100vh;
  background: url("../img/menu/1.jpg");
  animation: change-bg 25s linear infinite;
  background-repeat: no-repeat;
background-position: center;
background-size: cover !important;
}
@keyframes change-bg {
  0% { background: url("../img/menu/1.jpg"); }
  20% { background: url("../img/menu/2.jpg"); }
  25% { background: url("../img/menu/3.jpg"); }
  45% { background: url("../img/menu/4.jpg"); }
  50% { background: url("../img/menu/5.jpg"); }
  70% { background: url("../img/menu/1.jpg"); }
  75% { background: url("../img/menu/2.jpg"); }
  100% { background: url("../img/menu/3.jpg"); }
}























/* --- generales --- */
.conter90{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.azul1{
  color: #2ecccc !important;
}
.azul2{
  color: #043278 !important;
}
.azul3{
  color: #52bbec !important;
}
.azul4{
  color: #0071bb !important;
}
.blanco{
  color: #ffffff !important;
}
.negro{
  color: #000000 !important;
}
a{
  text-decoration: none;
}
.opacity0{
  opacity: 0;
}
.borderleft{
  border-left: 1px solid #2ecccc;
}
.contergeneral{
  width: 90%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.contergeneral100{
  width: 100%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.conter90{
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.conter90left{
  width: 90%;
  display: block;
  float: left;
}
.conter90right{
  width: 90%;
  display: block;
  float: right;
}
.conter95{
  width: 95%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.conter95left{
  width: 95%;
  display: block;
  float: left;
}
.conter99left{
  width: 99%;
  display: block;
  float: left;
}
.conter95right{
  width: 95%;
  display: block;
  float: right;
}
.conter95righta{
  width: 95%;
  display: block;
  float: right;
}
.conter{
  width: 100%;
  display: block;
  position: relative;
}
.conter2{
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}


.opacity0{
  opacity: 0;
}
.textcenter{
  text-align: center !important;
}
.textright{
  text-align: right !important;
}
.textleft{
  text-align: left !important;
}
.imgfull{
  width: 100%;
}
.img90{
  width: 90%;
  margin: 0 auto;
  display: block;
}
.img80{
  width: 80%;
  margin: 0 auto;
  display: block;
}
.img60{
  width: 60%;
  margin: 0 auto;
  display: block;
}
.img50{
  width: 50%;
  margin: 0 auto;
  display: block;
}
.img80left{
  width: 80%;
  display: block;
}
.imglogros{
  width: 85%;
  float: right;
  padding-left: 10px;
}

.conter30{
  display: block;
  width: 30%;
  float: left;
  position: relative;
}
.conter35{
  display: block;
  width: 35%;
  float: left;
  position: relative;
}
.conter33{
  display: block;
  width: 33.33%;
  float: left;
  position: relative;
}
.conter22{
  display: block;
  width: 22.3%;
  float: left;
  position: relative;
}
.conter50{
  display: block;
  width: 50%;
  float: left;
  position: relative;
}
.conter50center{
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.conter60center{
  display: block;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.conter65center{
  display: block;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.conter60{
  display: block;
  width: 60%;
  float: left;
}

.conter40{
  display: block;
  width: 40%;
  float: left;
}
.conter45{
  display: block;
  width: 45%;
  float: left;
}
.conter70{
  display: block;
  width: 70%;
  float: left;
}
.conter70center{
  display: block;
  width: 70%;
  margin: 0 auto;
}
.conter80{
  display: block;
  width: 80%;
  float: left;
}
.conter80center{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.conter20{
  display: block;
  width: 20%;
  float: left;
}
.conter21{
  display: block;
  width: 21%;
  float: left;
}
.conter10{
  display: block;
  width: 10%;
  float: left;
}
.conter10a{
  display: block;
  width: 10%;
  float: left;
}
.conter12{
  display: block;
  width: 12.5%;
  float: left;
}
.conter5{
  display: block;
  width: 5%;
  float: left;
}
.conter5a{
  display: block;
  width: 5%;
  float: left;
}
.conter14{
  display: block;
  width: 14.2%;
  float: left;
}
.conter15{
  display: block;
  width: 15%;
  float: left;
}
.conter85{
  display: block;
  width: 85%;
  float: left;
}
.conter25{
  display: block;
  width: 25%;
  float: left;
}
.conter24{
  display: block;
  width: 24%;
  float: left;
}

.conterflex{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
}
.conterflex2{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
}
.padtop50px{
  padding-top: 50px;
}
.padbop50px{
  padding-bottom: 50px;
}
.pad50px{
  padding: 50px 0px;
}
.padtop20px{
  padding-top: 20px;
}
.padtop10px{
  padding-top: 10px;
}
.padbot20px{
  padding-bottom: 20px;
}
.mar50px{
  margin: 50px 0px;
}
.martop50px{
  margin-top: 50px;
}
.pad20px{
  padding: 20px 0px;
}
.pad5px{
  padding: 5px 0px;
}
.pad5pix{
  padding: 5px;
}
.pad10px{
  padding: 10px 0px;
}
.pad30px{
  padding: 30px 0px;
}
.martop20px{
  margin-top: 20px;
}
.sinespacio{
  margin-left: 15px !important;
  padding: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}
.sinespacio2{
  margin-left: 15px !important;
  padding: 0px !important;
  margin-top: 15px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}
.numeroprin{
  font-family: BentonSansBBVA-Medium;
  font-size: 90px;
  line-height: 90px;
}
.titulo1{
  font-family: BentonSansBBVA-Medium;
  font-size: 40px;
  line-height: 40px;
}
.titulo2{
  font-family: BentonSansBBVA-Medium;
  font-size: 35px;
  line-height: 35px;
}
.titulo2a{
  font-family: BentonSansBBVA-Book;
  font-size: 35px;
  line-height: 35px;
}
.titulo3{
  font-family: BentonSansBBVA-Medium;
  font-size: 25px;
  line-height: 25px;
}
.titulo4{
  font-family: BentonSansBBVA-Medium;
  font-size: 20px;
  line-height: 20px;
}
.destacadocarru{
  font-family: BentonSansBBVA-Book;
  font-size: 21px;
}
p{
  margin: 0;
  padding: 0;
}
.medium{
  font-family: BentonSansBBVA-Medium !important;
}
.textointro{
  font-family: BentonSansBBVA-Book;
  font-size: 18px;
}
.texto{
  font-family: BentonSansBBVA-Book;
  font-size: 15px;
}
.texto2{
  font-family: BentonSansBBVA-Book;
  font-size: 18px;
}
.textitalick{
  font-style: italic;
}
.textupper{
  text-transform: uppercase;
}
.nota{
  font-family: BentonSansBBVA-Book;
  font-size: 13px;
}
.conterdatos{
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #043278;
  border-radius: 0px 0px 20px 0px;
}
.tabla {
  width: 100%;
  border-collapse: collapse;
}
sub, sup{
  font-size: 10px;
}
.borderblanco {
    border-bottom: 1px dotted #ffffff;
}
.borderazul{
  border-bottom: 1px solid #52bbec;
}
.padding10{
  padding: 10px;
}
.padding5{
  padding: 5px;
}


/* --- home --- */

.home1{
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #043278;
  align-items: center;
  align-self: center;
}

.img1{
  width: 100%;
  display: block;
  position: absolute;
  bottom: -30%;
  left: 0;
}
.img2{
  width: 100%;
  display: block;
  position: absolute;
  top: -19%;
  z-index: 1;
}
.logohome{
  display: block;
  width: 90%;
  max-width: 250px;
  position: absolute;
  left: 5vw;
  top: 2vh;
  z-index: 2;
}
.titulohome{
  display: block;
  width: 90%;
  max-width: 100px;
  float: right;
}
.logohome2{
  display: block;
  width: 90%;
  max-width: 250px;
  position: absolute;
  left: 5vw;
  bottom: 5vh;
  z-index: 2;
}
.backazul{
  background-color: #043278 !important;
}
.backazul1{
  background-color: #52bbec !important;
}
.backazul2{
  background-color: #0071bb !important;
}
.backazul3{
  background-color: #043278 !important;
}
.minhe100{
  min-height: 120px;
}
.minhe80{
  min-height: 80px;
}

/* --- presetacion --- */

.pres1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.conterintrosec{
  width: 90%;
  max-width: 700px;
  display: block;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left: -350px;
}
.pres2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-bottom: 50px;
}
.pres3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-bottom: 50px;
}
.listroman{
  list-style-type: lower-roman;
}
.pres4{
  width:  100%;
  display: block;
  padding: 50px 0px 0px 0px;
  height: auto;
  position: relative;
}
.texto-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.conterlogro1{
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0px 10px;
  background-color: #52bbec;
  border-radius: 0px 0px 20px 0px;
}
.conterlogro2{
  display: block;
  width: 80%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 0px 10px;
  background-color: #0071bb;
  border-radius: 0px 0px 20px 0px;
}
.conterlogro3{
  display: block;
  width: 80%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 0px 10px;
  background-color: #043278;
  border-radius: 0px 0px 20px 0px;
}
.conterlogro4{
  display: block;
  width: 80%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 0px 10px;
  background-color: #0071bb;
  border-radius: 0px 0px 20px 0px;
}
.conterlogro5{
  display: block;
  width: 80%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 0px 10px;
  background-color: #52bbec;
  border-radius: 0px 0px 20px 0px;
}
.icongif{
  width: 90%;
  max-width: 100px;
  display: block;
}
.conterportada{
  width: 90%;
  display: block;
  max-width: 700px;
  margin: 0 auto;
}




/* --- perfil del grupo --- */

.perfil1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.perfil2{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.contertituloper{
  display: block;
  position: absolute;
  left: 5%;
  bottom: 10%;
}
.contertituloper2{
  display: block;
  position: absolute;
  left: 5%;
  bottom: 10%;
}
.perfil3{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
   background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
}
.bor1{
  border-right: 1px solid #52bbec;
  border-bottom: 1px solid #52bbec;
}
.bor2{
  border-right: 1px solid #52bbec;
  border-bottom: 1px solid #52bbec;
}
.bor3{
  border-bottom: 1px solid #52bbec;
}
.bor4{
  border-right: 1px solid #52bbec;
}
.perfil4{
  width:  100%;
  display: block;
  padding: 50px;
  height: auto;
  position: relative;
}
th,td{
  padding: 5px 0px;
  border-bottom: 1px solid #52bbec;
}
.iconna{
  width: 100px;
  display: block;
  float: left;
  margin-right: 5px;
}
.perfil5{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.bor1a {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.bor2a {
  border-right: 1px solid #e1e1e1;
}
.bor3a {
  border-bottom: 1px solid #e1e1e1;
}
.imgmedalla{
  width: 90%;
  max-width: 300px;
  display: block;
  margin: 0 auto ;
}
.perfil6{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}

.conterimgods {
  width: 90px;
  display: block;
  float: left;
}
.conterinfoods {
  width: calc(100% - 90px);
  display: block;
  overflow: hidden;
  float: left;
}
.perfil7{
  width:  100%;
  display: block;
  padding: 50px 0px;
  height: auto;
  position: relative;
  background-color: #043278;
}

/* --- estrategiao --- */

.estra1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.estra2{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.estra3{
  width:  100%;
  display: block;
  padding: 50px 0px;
  height: auto;
  position: relative;
}
.estra4{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.estra5{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.estra6{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.estra7{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.estra7a {
  width: 100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  overflow: hidden;
}
.estra7b {
  width: 100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  overflow: hidden;
  margin-top: 50px;
}
.imgtriangulo{
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.iconchiquito{
  display: block;
  width: 35px;
  margin-right: 5px;
}

/* --- gobernanza --- */

.gob1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg5.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.gob2{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.gob3{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
   background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
}
.iconazul{
  width: 18px;
  display: block;
  margin: 0 auto;
}
.iconazul2{
  width: 18px;
  display: block;
  margin-right: 10px;
}
.iconazul3{
  width: 28px;
  display: block;
  margin-right: 10px;
}
.gob4{
  width:  100%;
  display: block;
  padding: 50px 0px;
  height: auto;
  position: relative;
}
.gob5{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.intergob5{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
   background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px;
  margin-top: 50px;
}
.icondere{
  width: 35px;
  display: block;
  float: right;
}
.gob6{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
   background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
}
.iconcodcon{
  width: 45px; 
  display: block;
  margin-right: 10px;
}
.iconazul2a{
  width: 18px;
  display: block;
  margin-right: 10px;
  float: right;
}
.gob7{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}
.backtabla{
  background-color: #d4eff9;
}

/* --- cadena --- */

.cadena1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg6.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.cadena2{
  width:  100%;
  display: block;
  padding: 50px 0px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.flecha{
  width: 20px;
  display: block;
  padding-right: 5px;
  margin-left: 80%;

}
.cadena3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
}
.cadena4{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 50px 0px
}
.cadena5{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
.cadena6{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
.cadena7{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}


/* --- finanzas --- */

.fina1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg7.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.fina2{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.contercompro1{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: #52bbec;
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
}
.contercompro2{
  display: block;
  width: 100%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 10px;
  background-color: #0071bb;
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
}
.contercompro2a{
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #0071bb;
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
}
.contercompro3{
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px auto 0px auto;
  background-color: #043278;
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
}
.iconmarco{
  width: 100px;
  display: block;
  margin: 0 auto;
}
.heiicons{
  height: auto;
  min-height: 149px;
}
.borbotto{
  border-bottom: 1px solid #ffffff !important;
}

/* --- contribucion --- */

.contri1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg8.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.contri2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
}
.sinmargin{
  margin: 0px;
}
.presentacion2 {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg9.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.presentacion3 {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg10.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}



/* --- descargas --- */
.des1{
  width:  100%;
  display: block;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}


/* --- video --- */


.conterplay{
  width: 50px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
}
.conterplay{
  stroke-width: 5px;
  stroke-miterlimit: 10;
  fill: transparent;
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  animation: lineaanimateplay 6s forwards infinite;
}
.play{
  fill: #fff;
  animation: trianguloplay 6s forwards infinite;
}



@keyframes lineaanimateplay {
  0% {
    stroke-dashoffset: 670;
  }
  30% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 670;
  }
}
@keyframes trianguloplay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineaanimate {
  to {
    stroke-dashoffset: 0;
  }
}




/* video */

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #043278;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #48c2c5;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

a.imgscroll {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
a.imgscroll::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
a.imgscroll2 {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #ce363f;
  border-radius: 50px;
  box-sizing: border-box;
}
a.imgscroll2::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #ce363f;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.idioma{
  display: block;
  width: 50px;
  text-align: center;
  right: 1.5vw;
  height: 30px;
  position: fixed;
  top: 70px;
  z-index: 99999;

}







/* --- animaciones --- */
.ani1{
  animation: fadeIn;
  animation-delay: .3s;
}

.ani1menu{
  animation: fadeInLeft;
  animation-delay: .3s;
}





























